.makerContainer
    padding: 20px 5px
    display: flex
    flex-direction: column
    h2
     margin: 0 auto 10px
    .inputMaker
        margin: 0 auto 20px
        padding: 10px
        border-radius: 5px
        max-width: 80%
        background-color: #fff 
        input
            max-width: 700px
            margin: 0.25em 
        button
            font-size: 20px
    .recipeList
        display: flex
        .recipeCard
            background-color: #fff
            margin: 0 15px
            border-radius: 10px
            padding: 10px
        .foodImage
            max-width: 450px
            max-height: 300px
            border-radius: 10px
        button
            margin: 0.3em
        .textbox
            display: flex
            flex-direction: column
            p
                color: #000
            h3 
                font-size: 20px
                color: #000 